* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.secondary-header {
  text-align: center;
}

.name-text {
  font-style: bold;
}

.matches-container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

button.message-button {
  padding: 0.5rem !important;
}

h3.message-header {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  left: calc(50% - 77px);
}

.message-grid {
  background-color: rgb(251, 251, 251);
  height: calc(100vh - 122px);
}

.message-divider {
  margin-top: 0.4rem !important;
}

.blue-message-left {
  margin-top: 0.3rem;
  margin-left: 1rem;
}

.blue-message-right {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
}

.send-message {
  position: fixed !important;
  width: 96%;
  bottom: 0.5rem;
}

.message-container {
  max-height: calc(100vh - 167px);
  width: 100vw;
  overflow-y: scroll;
}

.message-bottom {
  height: 1rem;
}
